<body class="signup-bg">
  <div>
    <h3>Sign Up</h3>
    <hr />

    <form method="POST" action="/auth/signup">
      <div class="form-outline mb-4">
        <label class="form-label" for="form1Example1"
          >Username: <input type="text" name="username" id="form1Example1"
          class="form-control"<% if (typeof errorMessage !=='undefined' ) { %>
          value="<%= userData.username %>" <% } %> /></label
        >
      </div>

      <div class="form-outline mb-4">
        <label
          >Email: <input type="text" name="email" id="form1Example2"
          class="form-control" required <% if (typeof errorMessage
          !=='undefined' ) { %> value="<%= userData.email %>" <% } %> /></label
        >
      </div>

      <div class="form-outline mb-4">
        <label
          >Password:
          <input
            type="password"
            name="password"
            id="form1Example3"
            class="form-control"
            required
        /></label>
      </div>

      <button type="button" class="btn btn-outline-dark">
        Create an account
      </button>
    </form>

    <% if (typeof errorMessage !=='undefined' ) { %>
    <p style="color: red"><%= errorMessage %></p>
    <% } %>
  </div>
</body>
