<div class="index-style">
  <h1>Create delicious Recipes with cookbook</h1>
</div>
<footer class="footer-style">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0.5, 0.3)">
    <p>
      Copyright © 2023 cookbook. All Rights Reserved. Made with ♡ by MTWebDev
    </p>
    <p>| only Love - no Hate</p>
  </div>
</footer>

