<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">cookbook</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <button
            type="submit"
            onClick="directToSignUp()"
            class="btn btn-light"
          >
            Sign Up
          </button>
          <script>
            function directToSignUp() {
              window.location.href = "/auth/signup";
            }
          </script>
          <button type="button" onClick="directToLogIn()" class="btn btn-light">
            Log In
          </button>
          <script>
            function directToLogIn() {
              window.location.href = "/auth/login";
            }
          </script>
          <button type="button" onClick="directToHome()" class="btn btn-light">
            Log Out
          </button>
          <script>
            function directToHome() {
              window.location.href = "/";
            }
          </script>

          <li class="nbtn-group dropend">
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-expanded="false"
              >Recipes</a
            >

            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Vegetarian</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Vegan</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Appetizer</a></li>
              <li><a class="dropdown-item" href="#">Main dish</a></li>
              <li><a class="dropdown-item" href="#">Soup</a></li>
              <li><a class="dropdown-item" href="#">Salad</a></li>
              <li><a class="dropdown-item" href="#">Dessert</a></li>
              <li><a class="dropdown-item" href="#">Breakfast</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button type="button" class="btn btn-outline-dark">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>

<h1 class="index-headline">Create delicious Recipes with cookbook</h1>

<footer class="footer-style">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0.5, 0.3)">
    <p>
      Copyright © 2023 cookbook. All Rights Reserved. Made with ♡ by
      MTWebDevGirls
    </p>
    <p>| only Love - no Hate</p>
  </div>
</footer>
