<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= appTitle %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <link href="/lab-bootstrap-cloning-revera/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">cookbook</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <button
              type="submit"
              onClick="directToSignUp()"
              class="btn btn-light"
            >
              Sign Up
            </button>
            <script>
              function directToSignUp() {
                window.location.href = "/auth/signup";
              }
            </script>
            <button
              type="button"
              onClick="directToLogIn()"
              class="btn btn-light"
            >
              Log In
            </button>
            <script>
              function directToLogIn() {
                window.location.href = "/auth/login";
              }
            </script>
            <button
              type="button"
              onClick="directToHome()"
              class="btn btn-light"
            >
              Log Out
            </button>
            <script>
              function directToHome() {
                window.location.href = "/";
              }
            </script>

            <li class="nbtn-group dropend">
              <a
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                aria-expanded="false"
                >Recipes</a
              >

              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#">Vegetarian</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Vegan</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">Appetizer</a></li>
                <li><a class="dropdown-item" href="#">Main dish</a></li>
                <li><a class="dropdown-item" href="#">Soup</a></li>
                <li><a class="dropdown-item" href="#">Salad</a></li>
                <li><a class="dropdown-item" href="#">Dessert</a></li>
                <li><a class="dropdown-item" href="#">Breakfast</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button type="button" class="btn btn-outline-dark">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <%- body %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="/js/script.js"></script>
  </body>
</html>
