<div class="container d-flex flex-column align-items-center">
    <h2 class="main-header">My recipes in the DB</h2>
    <div class="w-75">
      <% if (!myRecipes.length) { %>
      <h3>You have no recipes in the DB.</h3>
      <% } %> <% myRecipes.forEach(recipe => { %>
      
        <a class="recipe-title" href="/recipe/<%- recipe._id %> "
          ><%= recipe.title %></a
        >
        <hr/>
      </h4>
      <% }) %>
    </div>
  </div>