<div class="container d-flex flex-column align-items-center">
  <form  class="w-50 d-flex flex-column" method="POST" action="/recipe/new">
    <h2 class="main-header">Create a new Recipe</h2>
    <label>
      Title:
      <input type="text" name="title" />
    </label>
    <br/>
    <label>
      Content:
      <input type="text" name="content" />
    </label>
    <br/>
    <label>
      Ingredients:
      <input type="text" name="ingredients" />
    </label>
    <br/>
    <label>
      Cooking Time:
      <input type="number" name="cookingTime" />
    </label>
    <br/>
    <label>
      Serving size:
      <input type="number" name="servingSize" />
    </label>
    <br/>
    <label>
      Directions:
           <textarea type="text" name="directions" cols="40" rows="5"></textarea>
    </label>
    <br/>
    <label>
      Author:
      <input type="text" name="author" /> 
      <span> Fill this part if you copied the recipe from another person.</span>
    </label>
    <br/>
    <label>
      Video-Link:
      <input type="text" name="video" />
    </label>
    <br/>
    <label>
      Image: ????????
        <img src="...."/>
        <input type="submit" value="Click"/>
    </label>
    <br/>
    <label>
      Origin:
      <input type="text" name="origin" />
    </label>
    <br/>
    <label>
      Difficulty:
      <select class="form-control" id="recipe-difficulty" name="difficulty">
        <option value="easy" selected>Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
      <br/>
      <label>
        Category:
        <select class="form-control" id="recipe-category" name="category">
          <option value="vegan" selected>Vegan</option>
          <option value="vegetarian">Vegetarian</option>
          <option value="maindish">Main-dish</option>
          <option value="soup" selected>Soup</option>
          <option value="salad">Salad</option>
          <option value="dessert">Dessert</option>
          <option value="breakfast" selected>Breakfast</option>
          <option value="appetizers">Appetizers</option>
          <option value="drinks">Drinks</option>
        </select>
      </label>
      <br/>
      <br/>
      <label>
        Keywords:
        <input type="text" name="keywords" />
      </label>
      <br/>
         <br/>
      <button type="submit">Create new recipe</button>
      <br/>
  </form>
</div>