<div class="container d-flex flex-column align-items-center">
    <h2 class="main-header">Recipe details:</h2>
    <div class="w-75">
      <h4><span>Title: </span><%= recipeFound.title %></h4>
      <h4><span>Content: </span><%= recipeFound.content %></h4>
      <p><span>Ingredients: </span><%= recipeFound.ingredients %></p>
      <p><span>Cooking Time: </span><%= recipeFound.cookingTime %></p>
     
    
    
  </div>
  